@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(http://fonts.googleapis.com/css?family=Limelight);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

/* work */

#work {
    background-color: #CAEBDA;
}

#work a {
	color: red;
	text-decoration: none;
	outline: none;
}

#work a:hover, a:focus {
	color: #2E3444;
}

#work .codrops-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

#work .codrops-header h1 {
	margin: 0;
	font-size: 2.5em;
	font-weight: 900;
}

#work .codrops-header h1 span {
	display: block;
	padding: 0.2em 0 0.6em 0.1em;
	font-size: 0.6em;
	font-weight: 300;
}



@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}