/*
  Erdian Gao
  Lab 05 Portfolio and Resume
  10.23.2014
*/
@import url(http://fonts.googleapis.com/css?family=Changa+One); 
@import url(http://fonts.googleapis.com/css?family=Philosopher);


button a {
    color: white;
}


/* resume */

h1 {
    font-family: 'Changa One', cursive;
    font-size: 15em;
    color: #FF8040;
    text-align: center;
}

hr {
    padding-bottom: 30px;
}

h2 {
    color: #FFB85D;
    font-family: 'Changa One', cursive;
}

p, li {
    font-family: 'Philosopher', sans-serif;
    font-size: 1.3em;
}

li {   
    list-style:square;
}

section {
    margin: 40px;
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }