/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@import url(http://fonts.googleapis.com/css?family=Raleway:300,700,400);
@import url(http://fonts.googleapis.com/css?family=Limelight);

/* general */

section  {
    padding: 80px 0 40px;
}


/* typograohy */

h1 {
    font-family: 'Limelight', cursive;
}

h2 h3 h4 h5 h6 p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/*nav*/

.navbar-brand {
    font-family: 'Limelight', cursive;
    color:
}

/* intro */
#intro{
    color: white;
    margin-top: 125px;
    text-align: center;
}

#intro h1 {
    font-size: 64px;
    border-bottom: 3px solid white;
    padding-bottom: 40px;
}


#intro i:hover {
    color: grey;
}


.lead {
    padding-bottom: 150px;
    font-family: 'Limelight', cursive;
}


/* work */


#work {
    background-color: #C6DEFF;
    color: white;
}

#work2 {
    background-color: #C6DEFF;
    color: white;
}

#work h3 {
    margin: 40px;
    font-weight: 700;
    font-family: 'Limelight', cursive;
}

#work2 h3 {
    margin: 40px;
    font-weight: 700;
    font-family: 'Limelight', cursive;
}


/* contact */

#contact {
    background-color: #B4D69C;
    padding: 60px 0;
    text-align: center;
}

#contact p, #contact address, #contact h4 {
    font-weight: 400;
    font-size: 20px;
}

#contact h3 {
    margin: 40px;
    font-weight: 700;
    font-family: 'Limelight', cursive;
}



/* video */

video#bgvid {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
background: url(../images/bokeh-loop.png) no-repeat;
background-size: cover
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  
      
      #intro h1 {
                   font-size: 72px;
                 }

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
      
      #intro h1 {
                   font-size: 90px;
                 }

}



/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
      
      #intro h1 {
                   font-size: 120px;
                 }

}









